.categories{
    box-sizing: border-box; 
}

.categories h3{
    margin: 20px 50px;
}

.list{
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.item{
    padding:7px 0px;
    margin:6px 15px;
    background-color:rgb(116, 163, 144)
}